<div class="container">
  <div class="item1">
      SOP Repository
  </div>
  <form class="item2">
          <div class="sub-item1"><input type="text" placeholder="Search by"></div><div class="sub-item2"><label>Choose</label><select></select></div><button class="sub-item3"><img src="./assets/images/search.png" alt=""></button>
  </form>
  <div class="item3">
      <img src="./assets/images/filter.png" alt="">
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
    <ng-container matColumnDef="sop_id" >
      <th mat-header-cell *matHeaderCellDef> <h3>ID</h3> </th>
      <td style="color: #00AFE6;" mat-cell *matCellDef="let element"> {{element.sop_id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="sop_name">
      <th mat-header-cell *matHeaderCellDef> <h3>[Infra]SOP Name</h3> </th>
      <td mat-cell *matCellDef="let element"> {{element.sop_name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> <h3>Alert Message</h3> </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="platform">
      <th mat-header-cell *matHeaderCellDef> <h3>Platform</h3> </th>
      <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> <h3>Categories</h3> </th>
        <td  mat-cell *matCellDef="let element"> 
          <div *ngIf="element.category === 'Easy'" [ngStyle]="{'color':'#FF7334'}"><b>{{element.category}}</b></div>
          <div *ngIf="element.category === 'Hard'" [ngStyle]="{'color':'#FE0000'}"><b>{{element.category}}</b></div> 
        </td>
    </ng-container>

    <ng-container matColumnDef="status" >
        <th mat-header-cell *matHeaderCellDef> <h3>Status <br>(Disable/Enable)</h3> </th>
        <td mat-cell *matCellDef="let element">
        <mat-slide-toggle *ngIf="element.status===1" checked="true"  ></mat-slide-toggle> 
        <mat-slide-toggle *ngIf="element.status!== 1" checked="false"  ></mat-slide-toggle>
     </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> <h3>Action</h3> </th>
        <td mat-cell *matCellDef="let element">
          <button style="border: 1px solid #FDC7A3;color: #FEB352;margin-right: 1rem; ">Edit</button>
          <button (click)="open(element)" style="border: 1px solid #85ADC5; color: #95BED3" (click)="openDialog()">Run</button> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10]" aria-label="Select page of users"></mat-paginator>