table{
    width: 100%;
    height: 100%;
    text-align: center;
}
h3{
    color: #006299;
    font-weight: 600;
    text-align: center;
}
button{
    background-color: white;
    border-radius: 3px;
}
th{
    background-color: #E5F3F9;
}
td{
    color: #AAAAAA;
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #006899 ;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #006899 ;
}

/* title */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
}
.item1{
    font-size: 1.5rem;
    font-weight: 500;
}
.item2{
    display: flex;
    align-items: center;
    border: 3px solid #006799;
    margin-right: 3rem;
}
.sub-item2 label{
    padding-right: 3rem;
    background-color: white;
}

input{
    border: none;
    border-right: none;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border: none;
    font-weight: 500;
    background-color: white;
}
select{
border: none;
}

.sub-item3{
    display:flex; 
    justify-content:center;
    align-items: center;
    background-color: #006296;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}
.sub-item2{
    display: flex;
}