<header>
  <div class="left"></div>
  <div class="right" style="display: flex">
    <img
      style="margin-left: 1rem; width: 1.5rem"
      class="item1"
      src="../assets/images/notification.png"
      alt=""
    />
    <img
      style="margin-left: 1rem; width: 1.5rem"
      class="item1"
      src="../assets/images/headerImg.png"
      alt=""
    />
    <div style="margin-left: 1rem" class="right_menu">
      <h3>Admin</h3>
      <h5>Admin</h5>
    </div>
    <img
      style="margin-left: 1rem"
      class="item2"
      src="../assets/images/arrowDown.png"
      alt=""
    />
  </div>
</header>
