<header>
    <div class="left">
        logo
    </div>
    <div class="right" style="display: flex">
        <mat-icon style="margin-left: 1rem" style="color:white" >notifications</mat-icon>
        <img style="margin-left: 1rem" class="item1" src="../assets/images/headerImg.png" alt="">
        <div style="margin-left: 1rem" class="right_menu">
            <h3>Admin</h3>
            <h5>Admin</h5>
        </div>
        <img style="margin-left: 1rem" class="item2" src="../assets/images/selectDownArrow.png" alt="">
    </div>
</header>