<body>
    <div class="nav_link" >
        <div class="item">
            <img src="./assets/images/inactiveDashboard.png" alt="" style="margin-right: 1rem;">
            <a [routerLink]="['/dashboard']"><span>Dashboard</span></a>
        </div>
        <div class="item">
            <img src="./assets/images/repoFilled.png" alt="" style="margin-right: 1rem;">
            <a [routerLink]="['/repository']"><span>SOP Repository</span></a>
        </div>
        <div class="item">
            <img src="./assets/images/monitoringFilled.png" alt="" style="margin-right: 1rem;">
            <a [routerLink]="['/monitoring']"><span>SOP Monitoring</span></a>
        </div>
        <div class="item">
            <img src="./assets/images/reportFilled.png" alt="" style="margin-right: 1rem;">
            <a [routerLink]="['/reports']"><span>Reports</span></a>
        </div>
    </div>
</body>