body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: stretch;
    width: 100%;
}
.nav_link{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3rem;
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

a:hover{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: #007FAC;
    background-color: #D6E9F1;
    font-weight: bolder;
    box-shadow: inset -5px 0px #006F9F;
}

a.active{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    color: #007FAC;
    background-color: rgb(182, 206, 252);
    font-weight: bolder;
    box-shadow: inset -5px 0px #006F9F;
}
img{
    padding-left: 1rem;
}