<body>
    <div class="nav_link" >
        <div class="item">
            
            <a [routerLink]="['/dashboard']" routerLinkActive="active"><img src="./assets/images/inactiveDashboard.png" alt="" style="margin-right: 1rem;"><span>Dashboard</span></a>
        </div>
        <div class="item">
            
            <a [routerLink]="['/repository']" routerLinkActive="active"><img src="./assets/images/repoFilled.png" alt="" style="margin-right: 1rem;"><span>SOP Repository</span></a>
        </div>
        <div class="item">
            
            <a [routerLink]="['/monitoring']" routerLinkActive="active"><img src="./assets/images/monitoringFilled.png" alt="" style="margin-right: 1rem;"><span>SOP Monitoring</span></a>
        </div>
        <div class="item">
            
            <a [routerLink]="['/reports']" routerLinkActive="active"><img src="./assets/images/reportFilled.png" alt="" style="margin-right: 1rem;"><span>Reports</span></a>
        </div>
    </div>
</body>