.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
}
.item1{
    font-size: 1.5rem;
    font-weight: 500;
}
.item2{
    display: flex;
    border: 3px solid cornflowerblue;
}
input{
    border: none;
    border-right: none;
}
label{
    border: 2px solid;
    border: none;
    background-color: white;
}
select{
border: none;
}