*{
    margin: 0;
    padding: 0;
    width: auto;
}
mat-drawer{
    width: 15rem;
    min-height: 702px;
}
mat-drawer-content .item2{
    min-height: 15rem;
}

mat-drawer-content .item1,.item2{
    margin-left: 1rem;
    margin-right: 1rem;
}