<h2 mat-dialog-title>Run Workflow</h2>
<mat-dialog-content class="mat-typography" *ngIf="single_data">
    <div class="container">
        <div class="item1">
            <form [formGroup]="Sop_repo">
                <p>
                    <label>[Infra]SOP Name : </label>
                    <input style="padding-bottom: 1rem;"  formControlName="sop_name" required />
                </p>
                <p>
                    <label>Alert Message : </label>
                    <input style="padding-bottom: 2rem;"  formControlName="alert_msg" required />
                </p>
                <div class="data_group">
                    <div class="div1">
                        <p>Platform : </p>{{single_data.platform}}
                    </div>
                    <div class="div1">
                        <p>Status : </p>{{single_data.status}}
                    </div>
                </div>
                <p>
                    <label>Device Name : </label>
                    <input style="padding-bottom: 0.5rem;padding-top: 0.5rem;"  formControlName="device_name" required />
                </p>
            </form>
            <div style="margin-top: 4rem;">
                <hr>
                <div class="btn">
                    <button type="button" style="margin-right: 1rem; padding-top: 10px; padding-bottom: 10px; width: 5rem; background-color:white; border: 1px solid #D5D5D5; border-radius: 5px;">Close</button>
                    <button type="button" style="margin-right: 1rem; padding-top: 10px; padding-bottom: 10px; width: 5rem; background-color:#006799; border: 1px solid #006799; color: white; border-radius: 5px;">Run</button>
                </div>
            </div>
        </div>
        <div class="item2"></div>
    </div>
</mat-dialog-content>